// Product colors

$product-border-color: #efefef;
$product-show-color: rgba(0, 0, 0, .18);
$product-name-color: #555;
$product-description-color: #777;
$product-hr-color: #ececec;
$product-footer-bg-color: #e3fcff;
$product-best-seller-bg: #0acdad;

// general colors

$white: #fff;
