.filter-menu {
  position: relative;

  ul {
    margin-left: .25em;
    margin-right: 0;
    padding: 0;

    li {
      list-style-type: none;
      a {
        display: inline-block;
        padding-right: 10px;
        text-transform: capitalize;
      }
    }
  }
}
